@model dynamic

@{
    ViewBag.Title = "Asp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asp</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Asp Level 0", "AspZeroLevel")</li>
        <li>@Html.ActionLink("Asp Level 1", "AspFirstLevel")</li>
        <li>@Html.ActionLink("Asp Level 2", "AspSecondLevel")</li>
    </ul>
</div>