@model dynamic

@{
    ViewBag.Title = "Asp level #1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asp level #1</h2>
<label onclick="ToggleVisibility('asp-arch')">Разработка атрхитектуры приложений</label><br/>
<div class="hidden-element" id="asp-arch">
    <ol>
        <p>Планирование уровней приложения</p>
        <li>Планирование доступа к данным;</li>
        <li>планирование с учетом разделения задач; </li>
        <li>правильное применение моделей, представлений, контроллеров компонентов и внедрения зависимости служб; </li>
        <li>выбор между обработкой на стороне клиента и обработкой на стороне сервера; </li>
        <li>выбор между ASP.NET Core и ASP.NET;</li>
        <li>выбор подходящего времени использования стандартных библиотек .NET</li>
    </ol>
    <ol>
        <p>Настройка управления состоянием</p>
        <li>использование файлов cookie или локального хранилища для поддержки состояния; </li>
        <li>применение параметров конфигурации, заданных в файле web.config; </li>
        <li>реализация бессеансового состояния (например, QueryString); </li>
    </ol>
    <ol>
        <p>Разработка стратегии кэширования</p>
        <li>Реализация кэширования вывода страниц и кэширования данных; </li>
        <li>реализация кэширования HTTP; </li>
    </ol>
    <ol>
        <p>Проектирование решения для управления конфигурацией</p>
        <li>Управление источниками конфигурации, включая файлы XML, JSON и INI; </li>
        <li>управление переменными сред; </li>
        <li>реализация дополнительных объектов; </li>
        <li>реализация нескольких сред с использованием файлов и иерархической структуры; </li>
        <li>реакция на изменения конфигурации выполнения;</li>
        <li>внедрение источников пользовательской конфигурации; </li>
    </ol>
    <ol>
        <p>Взаимодействие со средой</p>
        <li>Работа с файловой системой с помощью поставщиков файлов; </li>
        <li>работа с переменными среды;</li>
        <li>определение возможностей среды хостинга; </li>
        <li>реализация встроенных компонентов;</li>
        <li>использование хостинга ASP.NET в открытом веб-интерфейсе для сервера на основе .NET (OWIN)</li>
    </ol>
</div>
<label onclick="ToggleVisibility('asp-build')">Разработка архитектуры сборки и развертывания</label><br/>
<div class="hidden-element" id="asp-build">
    <ol>
        <p>Разработка стратегии сборки сервера</p>
        <li>Управление зависимостями NuGet; </li>
        <li>целевые среды выполнения, включая полную версию .NET Framework, .NET core и .NET standard; </li>
        <li>управление конфигурациями отладки и выпуска, включая параметры компиляции и оптимизации; </li>
        <li>включение или исключение файлов из сборки; управление источниками сборки, включая содержимое, ресурсы и общие файлы; </li>
        <li>внедрение метаданных в проекты, включая версию, примечания к выпуску и зависимости; </li>
        <li>определение других параметров сборки, включая xmlDoc и warningsAsErrors; </li>
        <li>работа со статическими файлами в ASP.NET core</li>
    </ol>
    <ol>
        <p>Разработка стратегии публикации</p>
        <li>Реализация публикации приложения с помощью dotnet.exe; </li>
        <li>управление параметрами публикации в csproj; </li>
        <li>внедрение дополнительных инструментов; </li>
        <li>внедрение сценариев действия до и после публикации; </li>
        <li>внедрение встроенной компиляции; </li>
    </ol>
    <ol>
        <p>Внедрение стратегии локального развертывания</p>
        <li>Развертывание приложения в IIS с помощью веб-развертывания, xcopy и мастера публикации Visual Studio; </li>
        <li>развертывание приложения в Windows Nano Server, ведущем базовом веб-экземпляре IIS, веб-сервере HTTP.sys; </li>
    </ol>
</div>
<label onclick="ToggleVisibility('asp-user-contact')">Дизайн взаимодействия с пользователем</label><br/>
<div class="hidden-element" id="asp-user-contact">
    <ol>
        <p>Создание элементов интерфейса пользователя для веб-приложения</p>
        <li>Создание и применение стилей с помощью CSS;</li>
        <li>создание структуры и макета интерфейса пользователя с помощью HTML; </li>
        <li>реализация динамического содержимого страниц в зависимости от модели</li>
    </ol>
    <ol>
        <p>Разработка и реализация поведения интерфейса пользователя</p>
        <li>Реализация проверки на стороне клиента;</li>
        <li>использование JavaScript и для управления DOM; </li>
        <li>расширение объектов посредством наследования через прототипы; </li>
        <li>использование AJAX для частичных обновлений страницы</li>
    </ol>
    <ol>
        <p>Разработка макета интерфейса пользователя приложения</p>
        <li>Реализация частичного представления и компонентов представления для повторного использования в различных областях приложения; </li>
        <li>разработка и реализация страниц с использованием шаблонов Razor; </li>
        <li>разработка и реализация макетов для предоставления визуальной структуры; </li>
        <li>определение и преобразование дополнительных и обязательных разделов страницы; </li>
        <li>создание и использование тегов и вспомогательных приложений HTML для упрощения разметки</li>
    </ol>
    <ol>
        <p>Планирование адаптивного макета пользовательского интерфейса</p>
        <li>Планирование приложений, которые работают на нескольких устройствах и с разными разрешениями экрана; </li>
        <li>использование запросов мультимедиа и адаптивной таблицы начальной загрузки;</li>
        <li>обнаружение характеристик и возможностей браузера;</li>
        <li>создание веб-приложений, которые работают в нескольких браузерах и на нескольких мобильных устройствах;</li>
        <li>обеспечение единого пользовательского интерфейса в различных браузерах с помощью полизаполнения</li>
    </ol>
    <ol>
        <p>Планирование стратегии мобильного пользовательского интерфейса</p>
        <li>Внедрение элементов мобильного пользовательского интерфейса;</li>
        <li>определение и внедрение стратегии для работы с мобильными браузерами</li>
    </ol>
</div>
<label onclick="ToggleVisibility('asp-ui')">Разработка пользовательского интерфейса</label><br/>
<div class="hidden-element" id="asp-ui">
    <ol>
        <p>Планирование оптимизации и специальных возможностей поисковой системы</p>
        <li>Использование аналитических инструментов для разбора HTML;</li>
        <li>предоставление карты сайта xml и файла robots.txt для улучшения очистки; </li>
    </ol>
    <ol>
        <p>Планирование и реализация глобализации и локализации</p>
        <li>Планирование стратегии локализации;</li>
        <li>создание и применение ресурсов к пользовательскому интерфейсу, включая ресурсы JavaScript; </li>
        <li>настройка региональных параметров; </li>
        <li>внедрение глобализации и локализации на стороне сервера</li>
    </ol>
    <ol>
        <p>Разработка и реализация контроллеров и действий MVC</p>
        <li>Применение атрибутов авторизации, фильтров, включая глобальные фильтры, фильтры аутентификации и переопределяемые фильтры; </li>
        <li>выбор и внедрение пользовательских кодов состояния HTTP и ответов; </li>
        <li>реализация результатов действий; </li>
        <li>реализация областей MVC; </li>
        <li>внедрение зависимостей для служб в контроллерах</li>
    </ol>
    <ol>
        <p>Разработка и реализация маршрутов</p>
        <li>Определение маршрута для обработки шаблона URL-адреса; </li>
        <li>применение ограничений маршрута; игнорирование шаблонов URL-адресов; </li>
        <li>добавление пользовательских параметров маршрута; </li>
        <li>определение областей; </li>
    </ol>
    <ol>
        <p>Управление поведением приложения с помощью точек расширения MVC</p>
        <li>Создание пользовательского ПО промежуточного слоя и внедрение его в конвейер;</li>
        <li>реализация фильтров и фабрик контроллеров MVC;</li>
        <li>управление поведением приложения при помощи результатов действий, средств привязки моделей и обработчиков маршрутов; </li>
        <li>внедрение служб в представление</li>
    </ol>
    <ol>
        <p>Разработка и внедрение сериализации и привязки моделей</p>
        <li>Сериализация моделей и данных с помощью поддерживаемых форматов сериализации, включая JSON, XML, protobuf и WCF/SOAP; </li>
        <li>реализация привязки моделей и свойств, включая пользовательскую привязку и проверку моделей; </li>
    </ol>
</div>
<label onclick="ToggleVisibility('asp-debug')">Устранение неисправностей и отладка web-приложений</label><br/>
<div class="hidden-element" id="asp-debug">
    <ol>
        <p>Предотвращение и устранение неисправностей в среде выполнения</p>
        <li>Устранение неисправностей производительности, безопасности и ошибок; </li>
        <li>реализация трассировки, ведения журналов и отладки ; </li>
        <li>включение и настройка мониторинга работоспособности системы ; </li>
    </ol>
    <ol>
        <p>Разработка стратегии обработки исключений</p>
        <li>Обработка исключений на нескольких уровнях;</li>
        <li>использование ПО промежуточного слоя MVC для настройки обработки ошибок; </li>
        <li>использование разных стратегий обработки ошибок для разных сред; </li>
        <li>создание и отображение пользовательских страниц с сообщениями об ошибках;</li>
        <li>настройка пользовательского конвейера для обработки ошибок; </li>
        <li>обработка первых экземпляров исключений;</li>
        <li>ведение журнала исключений приложений</li>
    </ol>
    <ol>
        <p>Тестирование веб-приложений</p>
        <li>Создание и выполнение модульных тестов, создание подстановок и заглушек; </li>
        <li>создание и выполнение веб-тестов, включая тесты с использованием браузерной ссылки; </li>
        <li>отладка веб-приложения в нескольких браузерах и эмуляторах мобильных устройств; </li>
    </ol>
</div>
<label onclick="ToggleVisibility('asp-secure')">Разработка и реализация системы безопасности</label><br/>
<div class="hidden-element" id="asp-secure">
    <ol>
        <p>Настройка проверки подлинности</p>
        <li>Проверка подлинности пользователей;</li>
        <li>принудительное применение настроек проверки подлинности; </li>
        <li>внедрение удостоверения ASP.NET Core;</li>
        <li>поддержка Facebook, Google и других внешних поставщиков услуг;</li>
        <li>внедрение подтверждения учетной записи, восстановления пароля и многофакторной аутентификации;</li>
    </ol>
    <ol>
        <p>Настройка и применение авторизации</p>
        <li>Создание ролей;</li>
        <li>программная авторизация ролей;</li>
        <li>настройка и работа с пользовательскими магазинами с помощью ПО промежуточного слоя;</li>
        <li>настройка контроллеров и действий для участия в авторизации</li>
    </ol>
    <ol>
        <p>Разработка и реализация проверки подлинности на основе токенов</p>
        <li>Выполнение проверки подлинности и авторизации с помощью токенов, включая OpenID, OAuth, JWT, SAML, токенов носителя и т. д.</li>
    </ol>
</div>