@model dynamic

@{
    ViewBag.Title = "Asp level #0";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asp level #0</h2>
<label onclick="ToggleVisibility('asp-arch')">Разработка атрхитектуры приложений</label><br/>
<div class="hidden-element" id="asp-arch">
    <ol>
        <p>Планирование уровней приложения</p>
        <li>Планирование доступа к данным;</li>
        <li>планирование с учетом разделения задач; </li>
        <li>правильное применение моделей, представлений, контроллеров компонентов и внедрения зависимости служб; </li>
        <li>выбор между обработкой на стороне клиента и обработкой на стороне сервера; </li>
    </ol>
    <ol>
        <p>Разработка стратегии кэширования</p>
        <li>Реализация кэширования вывода страниц и кэширования данных; </li>
        <li>реализация кэширования HTTP; </li>
    </ol>
    <ol>
        <p>Взаимодействие со средой</p>
        <li>Работа с файловой системой с помощью поставщиков файлов; </li>
        <li>работа с переменными среды;</li>
        <li>определение возможностей среды хостинга; </li>
        <li>реализация встроенных компонентов;</li>
        <li>использование хостинга ASP.NET в открытом веб-интерфейсе для сервера на основе .NET (OWIN)</li>
    </ol>
</div>
<label onclick="ToggleVisibility('asp-user-contact')">Дизайн взаимодействия с пользователем</label><br/>
<div class="hidden-element" id="asp-user-contact">
    <ol>
        <p>Создание элементов интерфейса пользователя для веб-приложения</p>
        <li>Создание и применение стилей с помощью CSS;</li>
        <li>создание структуры и макета интерфейса пользователя с помощью HTML; </li>
        <li>реализация динамического содержимого страниц в зависимости от модели</li>
    </ol>
    <ol>
        <p>Разработка и реализация поведения интерфейса пользователя</p>
        <li>Реализация проверки на стороне клиента;</li>
        <li>использование JavaScript и для управления DOM; </li>
        <li>расширение объектов посредством наследования через прототипы; </li>
        <li>использование AJAX для частичных обновлений страницы</li>
    </ol>
    <ol>
        <p>Разработка макета интерфейса пользователя приложения</p>
        <li>Реализация частичного представления и компонентов представления для повторного использования в различных областях приложения; </li>
        <li>разработка и реализация страниц с использованием шаблонов Razor; </li>
        <li>разработка и реализация макетов для предоставления визуальной структуры; </li>
        <li>определение и преобразование дополнительных и обязательных разделов страницы; </li>
        <li>создание и использование тегов и вспомогательных приложений HTML для упрощения разметки</li>
    </ol>
</div>
<label onclick="ToggleVisibility('asp-ui')">Разработка пользовательского интерфейса</label><br/>
<div class="hidden-element" id="asp-ui">
    <ol>
        <p>Планирование и реализация глобализации и локализации</p>
        <li>Планирование стратегии локализации;</li>
        <li>создание и применение ресурсов к пользовательскому интерфейсу, включая ресурсы JavaScript; </li>
        <li>настройка региональных параметров; </li>
        <li>внедрение глобализации и локализации на стороне сервера</li>
    </ol>
    <ol>
        <p>Разработка и реализация контроллеров и действий MVC</p>
        <li>Применение атрибутов авторизации, фильтров, включая глобальные фильтры, фильтры аутентификации и переопределяемые фильтры; </li>
        <li>выбор и внедрение пользовательских кодов состояния HTTP и ответов; </li>
        <li>реализация результатов действий; </li>
        <li>реализация областей MVC; </li>
        <li>внедрение зависимостей для служб в контроллерах</li>
    </ol>
    <ol>
        <p>Разработка и реализация маршрутов</p>
        <li>Определение маршрута для обработки шаблона URL-адреса; </li>
        <li>применение ограничений маршрута; игнорирование шаблонов URL-адресов; </li>
        <li>добавление пользовательских параметров маршрута; </li>
        <li>определение областей; </li>
    </ol>
    <ol>
        <p>Разработка и внедрение сериализации и привязки моделей</p>
        <li>Сериализация моделей и данных с помощью поддерживаемых форматов сериализации, включая JSON, XML, protobuf и WCF/SOAP; </li>
        <li>реализация привязки моделей и свойств, включая пользовательскую привязку и проверку моделей; </li>
    </ol>
</div>
<label onclick="ToggleVisibility('asp-debug')">Устранение неисправностей и отладка web-приложений</label><br/>
<div class="hidden-element" id="asp-debug">
    <ol>
        <p>Предотвращение и устранение неисправностей в среде выполнения</p>
        <li>Устранение неисправностей производительности, безопасности и ошибок; </li>
        <li>реализация трассировки, ведения журналов и отладки ; </li>
    </ol>
    <ol>
        <p>Разработка стратегии обработки исключений</p>
        <li>Обработка исключений на нескольких уровнях;</li>
        <li>использование разных стратегий обработки ошибок для разных сред; </li>
        <li>создание и отображение пользовательских страниц с сообщениями об ошибках;</li>
    </ol>
    <ol>
        <p>Тестирование веб-приложений</p>
        <li>Создание и выполнение модульных тестов, создание подстановок и заглушек; </li>
    </ol>
</div>
<label onclick="ToggleVisibility('asp-secure')">Разработка и реализация системы безопасности</label><br/>
<div class="hidden-element" id="asp-secure">
    <ol>
        <p>Настройка проверки подлинности</p>
        <li>Проверка подлинности пользователей;</li>
    </ol>
    <ol>
        <p>Настройка и применение авторизации</p>
        <li>Создание ролей;</li>
        <li>программная авторизация ролей;</li>
        <li>настройка и работа с пользовательскими магазинами с помощью ПО промежуточного слоя;</li>
        <li>настройка контроллеров и действий для участия в авторизации</li>
    </ol>
</div>