@model dynamic

@{
    ViewBag.Title = "C# Level 0";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>C# Level 0</h2>
<label onclick="ToggleVisibility('program-flow-list')">Управление программным потоком</label>
<div>
    <ol class="hidden-element" id="program-flow-list">
        <li>
            <p>Внедрение программного потока</p>
            <p>
                <ul>
                    <li>итерация по коллекции и элементам массива;</li>
                    <li>программирование решений с использованием инструкций, условий if/then и операторов;</li>
                    <li>оценка выражений</li>
                </ul>
            </p>
        </li>
    </ol>
</div>

<label onclick="ToggleVisibility('types-list')">Создание и использование типов</label>
<div>
    <ol class="hidden-element" id="types-list">
        <li>
            <p>Создание типов</p>
            <p>
                <ul>
                    <li>cоздание типов, включая structs и enum;</li>
                    <li>создание ссылочных типов, общих типов, конструкторов, статических переменных, методов, классов, методов расширения;</li>
                    <li>создание дополнительных и именованных параметров;</li>
                    <li>создание индексированных свойств;</li>
                    <li>создание перегруженных и переопределенных методов;</li>
                </ul>

            </p>
        </li>
        <li>
            <p>Использование типов</p>
            <p>
                <ul>
                    <li>упаковка и распаковка для преобразования типов значений;</li>
                    <li>типы приведения;</li>
                    <li>типы преобразования;</li>
                </ul>
            </p>
        </li>
        <li>
            <p>Создание и реализация иерархии классов</p>
            <p>
                <ul>
                    <li>Разработка и реализация интерфейса;</li>
                    <li>наследование от базового класса;</li>
                </ul>
            </p>
        </li>
        <li>
            <p>Работа со строками</p>
        </li>
    </ol>
</div>

<label onclick="ToggleVisibility('data-list')">Рализация доступа к данным</label>
<div>
    <ol class="hidden-element" id="data-list">
        <li>
            <p>Выполнение операций ввода/вывода</p>
            <p>
                <ul>
                    <li>чтение и запись файлов;</li>
                </ul>
            </p>
        </li>
        <li>
            <p>Использование данных</p>
            <p>
                <ul>
                    <li>Извлечение данных из базы данных;</li>
                    <li>обновление данных в базе данных;</li>
                </ul>
            </p>
        </li>
        <li>
            <p>Запросы и работа с данными и объектами с помощью LINQ</p>
        </li>
        <li>
            <p>Хранение данных в коллекциях и извлечение данных из коллекций</p>
            <p>
                <ul>
                    <li>Хранение и извлечение данных с помощью словарей, массивов, списков, наборов и запросов;</li>
                    <li>выбор типа коллекции;</li>
                    <li>инициализация коллекции; добавление и удаление элементов коллекции;</li>
                    <li>использование коллекций различных типов и коллекций без типа;</li>
                </ul>
            </p>
        </li>
    </ol>
</div>