@model dynamic

@{
    ViewBag.Title = "Wiki-csharp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>C#</h2>
<div>
    <ul>
        <li>@Html.ActionLink("C# Level 0", "CsharpZeroLevel")</li>
        <li>@Html.ActionLink("C# Level 1", "CsharpFirstLevel")</li>
        <li>@Html.ActionLink("C# Level 2", "CsharpSecondLevel")</li>
    </ul>
</div>