@model dynamic

@{
    ViewBag.Title = "Html/Css/Js Level 2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Html/Css/Js Level 2</h2>
<label onclick="ToggleVisibility('css-struct')">Реализация и работа со структурами документов и объектами</label><br/>
<div class="hidden-element" id="css-struct">
    <ol>
        <p>Создание структуры документа с помощью HTML</p>
        <li>Создание структуры пользовательского интерфейса с помощью разметки;</li>
        <li>создание контейнера для компоновки в HTML</li>
    </ol>
    <ol>
        <p>Написание кода, который взаимодействует с элементами пользовательского интерфейса
        <li>Программное добавление и изменение элементов HTML;</li>
        <li>внедрение мультимедийных элементов управления;</li>
        <li>внедрение полотна HTML5 и графики SVG</li>
    </ol>
    <ol>
        <p>Программное применение стиля к элементам HTML</p>
        <li>Изменение местоположения элемента;</li>
        <li>применение преобразования;</li>
        <li>возможность показать или скрыть элементы</li>
    </ol>
    <ol>
        <p>Внедрение API-интерфейсов HTML5</p>
        <li>Реализация API хранения и API Геолокации</li>
    </ol>
    <ol>
        <p>Установление области для объектов и переменных</p>
        <li>Определение времени жизни переменных;</li>
        <li>размещение объектов вне глобального пространства имен;</li>
        <li>использование ключевого слова "this" для ссылки на объект, который вызвал событие;</li>
        <li>область для локальных и глобальных переменных</li>
    </ol>
    <ol>
        <p>Создание и реализация объектов и методов</p>
        <li>Реализация встроенных объектов;</li>
        <li>создание настраиваемых объектов и настраиваемых свойств для встроенных объектов с помощью прототипов и функций;</li>
        <li>наследование из объекта;</li>
        <li>реализация встроенных методов</li>
    </ol>
</div>

<label onclick="ToggleVisibility('css-flow')">Реализация программного потока</label><br/>
<div class="hidden-element" id="css-flow">
    <ol>
        <p>Внедрение программного потока</p>
        <li>Проход по элементам коллекций и массивов;</li>
        <li>управление программными решениями с помощью операторов;</li>
        <li>оценка выражений</li>
    </ol>
    <ol>
        <p>Инициация и обработка события</p>
        <li>Обработка общих событий, инициируемых DOM (OnBlur, OnFocus, OnClick);</li>
        <li>объявление и обработка событий с восходящей маршрутизацией; </li>
        <li>обработка событий с помощью анонимной функции</li>
    </ol>
    <ol>
        <p>Реализация обработки исключений</p>
        <li>Установка и реагирование на коды ошибок; </li>
        <li>вызов исключения (throw); </li>
        <li>запрос для проверки null;</li>
        <li>реализация блоков try-catch-finally</li>
    </ol>
    <ol>
        <p>Реализация асинхронного программирования</p>
        <li>Прием сообщений из API-интерфейса HTML5 WebSocket; </li>
        <li>использование JQuery для вызова AJAX; </li>
        <li>связывание события; </li>
        <li>реализация обратного вызова с использованием анонимной функции;</li>
        <li>обработка указателя "this"</li>
    </ol>
    <ol>
        <p>Создание рабочего веб-процесса</p>
        <li>Запуск и остановка рабочего веб-процесса; </li>
        <li>передача данных в рабочий веб-процесс; </li>
        <li>настройка тайм-аутов и интервалов в рабочем веб-процессе; </li>
        <li>регистрация прослушивателя событий для рабочего веб-процесса; </li>
        <li>ограничения для рабочего веб-процесса</li>
    </ol>
</div>

<label onclick="ToggleVisibility('css-secure')">Доступ к данным и защита данных</label><br/>
<div class="hidden-element" id="css-secure">
    <ol>
        <p>Проверка данных, введенных пользователем, с помощью элементов HTML5</p>
        <li>Выбор соответствующих элементов управления на основании требований; </li>
        <li>реализация типов ввода и атрибутов содержимого HTML для сбора данных, введенных пользователем</li>
    </ol>
    <ol>
        <p>Проверка данных, введенных пользователем, с помощью JavaScript</p>
        <li>Вычисление регулярного выражения для проверки формата введенных данных; </li>
        <li>проверка получения данных нужного типа с помощью встроенных функций; </li>
        <li>предотвращение внедрения кода</li>
    </ol>
    <ol>
        <p>Использование данных</p>
        <li>Использование данных JSON и XML; </li>
        <li>извлечение данных с помощью веб-служб; </li>
        <li>загрузка данных или получение данных из других источников с помощью XMLHTTPRequest</li>
    </ol>
    <ol>
        <p>Сериализация, десериализация и передача данных</p>
        <li>Обработка двоичных данных; </li>
        <li>обработка текстовых данных, например JSON и XML; </li>
        <li>реализация метода сериализации jQuery; </li>
        <li>обработка веб-форм с помощью Form.Submit; </li>
        <li>разбор данных; передача данных с помощью XMLHTTPRequest; </li>
        <li>очистка ввода с помощью URI/кодировки формы</li>
    </ol>
</div>
<label onclick="ToggleVisibility('css-tres')">Использование CC3 в приложении</label><br/>
<div class="hidden-element" id="css-tres">
    <ol>
        <p>Свойства текста в стиле HTML</p>
        <li>Применение стилей к виду текста; </li>
        <li>применение стилей к шрифту, включая WOFF и font-face, размер и замещающие шрифты; </li>
        <li>применение стилей к выравниванию, интервалу, отступу текста; </li>
        <li>применение стилей к расстановке переносов в тексте; </li>
        <li>применение стилей для текста с отбрасыванием теней</li>
    </ol>
    <ol>
        <p>Свойства поля style HTML</p>
        <li>Применение стилей для изменения атрибутов внешнего вида; </li>
        <li>применение стилей для изменения графических эффектов; </li>
        <li>применение стилей для установки и изменения положения элемента</li>
    </ol>
    <ol>
        <p>Создание гибкого макета содержимого</p>
        <li>Реализация макета с помощью гибкой рамочной модели; </li>
        <li>реализация макета с несколькими столбцами; </li>
        <li>реализация макета с использованием плавающего положения и исключений; </li>
        <li>реализация макета с использованием сетки для выравнивания; </li>
        <li>реализация макета с использованием областей, группирования и вложения</li>
    </ol>
    <ol>
        <p>Создание анимированного и адаптивного пользовательского интерфейса</p>
        <li>Анимация объектов с помощью переходов CSS; </li>
        <li>применение 3-D и 2-D преобразований; </li>
        <li>коррекция пользовательского интерфейса на основе мультимедийных очередей; </li>
        <li>сокрытие или отключение элементов управления</li>
    </ol>
    <ol>
        <p>Поиск элементов с помощью средств выбора CSS и JQuery</p>
        <li>Выбор правильного средства выбора для ссылки на элемент; </li>
        <li>определение средств выбора элемента, стиля и атрибутов; </li>
        <li>поиск элементов с помощью псевдоэлементов и псевдоклассов</li>
    </ol>
    <ol>
        <p>Формирование структуры файла CSS с помощью средств выбора CSS</p>
        <li>Правильные ссылки на элементы; </li>
        <li>внедрение иерархии; </li>
        <li>переопределение наследования с помощью !important; </li>
        <li>стиль элемента на основании псевдоэлементов и псевдоклассов</li>
    </ol>
</div>