@model dynamic

@{
    ViewBag.Title = "Html/Css/Js Level 0";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Html/Css/Js Level 0</h2>
<label onclick="ToggleVisibility('css-struct')">Реализация и работа со структурами документов и объектами</label><br/>
<div class="hidden-element" id="css-struct">
    <ol>
        <p>Создание структуры документа с помощью HTML</p>
        <li>Создание структуры пользовательского интерфейса с помощью разметки;</li>
    </ol>
    <ol>
        <p>Написание кода, который взаимодействует с элементами пользовательского интерфейса
        <li>Программное добавление и изменение элементов HTML;</li>
    </ol>
    <ol>
        <p>Программное применение стиля к элементам HTML</p>
        <li>возможность показать или скрыть элементы</li>
    </ol>
</div>

<label onclick="ToggleVisibility('css-flow')">Реализация программного потока</label><br/>
<div class="hidden-element" id="css-flow">
    <ol>
        <p>Внедрение программного потока</p>
        <li>управление программными решениями с помощью операторов;</li>
    </ol>
    <ol>
        <p>Инициация и обработка события</p>
        <li>Обработка общих событий, инициируемых DOM (OnBlur, OnFocus, OnClick);</li>
    </ol>
</div>

<label onclick="ToggleVisibility('css-secure')">Доступ к данным и защита данных</label><br/>
<div class="hidden-element" id="css-secure">
    <ol>
        <p>Проверка данных, введенных пользователем, с помощью элементов HTML5</p>
        <li>Выбор соответствующих элементов управления на основании требований; </li>
        <li>реализация типов ввода и атрибутов содержимого HTML для сбора данных, введенных пользователем</li>
    </ol>
    <ol>
        <p>Сериализация, десериализация и передача данных</p>
        <li>обработка веб-форм с помощью Form.Submit; </li>
    </ol>
</div>
<label onclick="ToggleVisibility('css-tres')">Использование CC3 в приложении</label><br/>
<div class="hidden-element" id="css-tres">
    <ol>
        <p>Свойства текста в стиле HTML</p>
        <li>Применение стилей к виду текста; </li>
        <li>применение стилей к шрифту;</li>
        <li>применение стилей к выравниванию, интервалу, отступу текста; </li>
        <li>применение стилей к расстановке переносов в тексте; </li>
    </ol>
    <ol>
        <p>Свойства поля style HTML</p>
        <li>Применение стилей для изменения атрибутов внешнего вида; </li>
        <li>применение стилей для изменения графических эффектов; </li>
        <li>применение стилей для установки и изменения положения элемента</li>
    </ol>
    <ol>
        <p>Поиск элементов с помощью средств выбора CSS и JQuery</p>
        <li>поиск элементов с помощью псевдоэлементов и псевдоклассов</li>
    </ol>
</div>