@model dynamic

@{
    ViewBag.Title = "Sql";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sql</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Sql Level 0", "SqlZeroLevel")</li>
        <li>@Html.ActionLink("Sql Level 1", "SqlFirstLevel")</li>
    </ul>
</div>