@model dynamic

@{
    ViewBag.Title = "Sql Level #1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sql Level #1</h2>
<label onclick="ToggleVisibility('sql-creation')">Создание объектов базы данных</label><br/>
<div class="hidden-element" id="sql-creation">
    <ol>
        <p>Создание и изменение таблиц с помощью синтаксиса T-SQL </p>
        <li>Создание таблиц без использования встроенных инструментов; </li>
        <li>ALTER; DROP; ALTER COLUMN; CREATE</li>
    </ol>
    <ol>
        <p>Создание и изменение представлений</p>
        <li>Создание индексированных представлений;</li>
        <li>создание представлений без использования встроенных инструментов;</li>
        <li>CREATE, ALTER, DROP</li>
    </ol>
    <ol>
        <p>Разработка представлений</p>
        <li>Обеспечение кода без регрессии; </li>
        <li>последствия для безопасности</li>
    </ol>
    <ol>
        <p>Создание и изменение ограничений</p>
        <li>Создание ограничений в таблицах; </li>
        <li>определение ограничений;</li>
        <li>уникальные ограничения;</li>
        <li>ограничения по умолчанию; </li>
        <li>ограничения закрытого и внешнего ключа</li>
    </ol>
    <ol>
        <p>Создание и изменение триггеров DML</p>
        <li>Вставленные и удаленные таблицы;</li>
        <li>вложенные триггеры; </li>
        <li>типы триггеров;</li>
        <li>функции обновления;</li>
        <li>обработка нескольких строк в сеансе;</li>
        <li>последствия для производительности от триггеров</li>
    </ol>
</div>
<label onclick="ToggleVisibility('sql-data')">Работа с данными</label><br/>
<div class="hidden-element" id="sql-data">
    <ol>
        <p>Запрос данных с помощью инструкций SELECT</p>
        <li>Использование ранжирующей функции для выбора строк top(X) для нескольких категорий в одном запросе; </li>
        <li>эффективное написание и выполнение запросов с использованием новых элементов кода (except, intersect); </li>
        <li>внедрение логики, которая использует динамические SQL и системные метаданные; </li>
        <li>написание эффективных, технически сложных запросов SQL;</li>
        <li>определение того, какой набор инструкций будет загружать таблицу; </li>
        <li>использование и понимание разных технологий доступа к данным; </li>
        <li>CASE - отличие от ISNULL и COALESCE</li>
    </ol>
    <ol>
        <p>Реализация подзапросов</p>
        <li>Идентификация проблемных элементов в планах запросов; </li>
        <li>операторы PIVOT и UNPIVOT; </li>
        <li>применение оператора; </li>
        <li>обобщенное табличное выражение (CTE); </li>
        <li>оператор WITH</li>
    </ol>
    <ol>
        <p>Реализация типов данных</p>
        <li>Использование соответствующих данных; </li>
        <li>понимание и использование ограничений для каждого типа данных; </li>
        <li>воздействие GUID (newid, newsequentialid) на производительность базы данных</li>
    </ol>
    <ol>
        <p>Реализация статистических запросов</p>
        <li>Новые аналитические функции;</li>
        <li>группирование наборов;</li>
        <li>пространственные агрегаты;</li>
        <li>применение функций ранжирования</li>
    </ol>
    <ol>
        <p>Запросы и управление данными XML</p>
        <li>Понимание типов данных XML, их схем и взаимодействия без ограничений; </li>
        <li>внедрение схем XML и обработка данных XML; </li>
        <li>данные XML: как и когда их обрабатывать в SQL Server;</li>
        <li>импорт и экспорт XML;</li>
        <li>индексирование XML</li>
    </ol>
</div>
<label onclick="ToggleVisibility('sql-update')">Изменение данных</label><br/>
<div class="hidden-element" id="sql-update">
    <ol>
        <p>Создание и изменение хранимых процедур</p>
        <li>Написание хранимой процедуры, соответствующей заданному набору требований; </li>
        <li>логика ветвления;</li>
        <li>создание хранимых процедур и других программных объектов; </li>
        <li>методы для разработки хранимых процедур;</li>
        <li>разные типы результатов хранимых процедур; </li>
        <li>создание хранимой процедуры для уровня доступа к данным; </li>
        <li>программирование хранимых процедур, триггеров и функций с помощью T-SQL</li>
    </ol>
    <ol>
        <p>Изменение данных</p>
        <li>Определение вывода набора для DDL при заданном наборе кода с операторами DEFAULT, ограничениями и триггерами; </li>
        <li>какие инструкции SQL лучше подходят для удовлетворения общих требований; </li>
        <li>использование инструкции OUTPUT</li>
    </ol>
    <ol>
        <p>Объединение наборов данных</p>
        <li>Разница между UNION и UNION ALL; </li>
        <li>изменение данных с помощью инструкций MERGE</li>
    </ol>
    <ol>
        <p>Работа с функциями</p>
        <li>Понимание детерминированных и недетерминированных функций;</li>
        <li>скалярные и табличные значения; </li>
        <li>применение встроенных скалярных функций; </li>
        <li>создание и изменение определяемых пользователем функций (UDF)</li>
    </ol>
</div>
<label onclick="ToggleVisibility('sql-debug')">Поиск и устранение неполадок</label><br/>
<div class="hidden-element" id="sql-debug">
    <ol>
        <p>Оптимизация запросов</p>
        <li>Понимание статистики; </li>
        <li>планы запросов на чтение; </li>
        <li>структуры планов;</li>
        <li>динамические административные представления (DMV);</li>
        <li>подсказки; </li>
        <li>STATISTICS IO; </li>
        <li>сравнение динамических запросов с параметризованными запросами; </li>
        <li>описание разных типов объединений (HASH, MERGE, LOOP) и описание сценариев, в которых их следует использовать</li>
    </ol>
    <ol>
        <p>Управление транзакциями</p>
        <li>Пометка транзакции; </li>
        <li>понимание выражений begin tran, commit и rollback; </li>
        <li>отличие явных транзакций от неявных; </li>
        <li>уровни изоляции; </li>
        <li>область применения и тип блокировок; </li>
        <li>trancount</li>
    </ol>
    <ol>
        <p>Оценка использования операций на базе строк по сравнению с операциями на базе наборов</p>
        <li>Когда использовать курсоры;</li>
        <li>влияние скалярных определяемых пользователем функций (UDF);</li>
        <li>комбинация нескольких операций DML</li>
    </ol>
    <ol>
        <p>Реализация обработки ошибок</p>
        <li>Использование предложений try/catch/throw;</li>
        <li>использование логики на базе наборов;</li>
        <li>управление транзакциями</li>
    </ol>
</div>