@model dynamic

@{
    ViewBag.Title = "Sql Level #0";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sql Level #0</h2>
<label onclick="ToggleVisibility('sql-creation')">Создание объектов базы данных</label><br/>
<div class="hidden-element" id="sql-creation">
    <ol>
        <p>Создание и изменение таблиц с помощью синтаксиса T-SQL </p>
        <li>Создание таблиц без использования встроенных инструментов; </li>
        <li>ALTER; DROP; ALTER COLUMN; CREATE</li>
    </ol>
    <ol>
        <p>Создание и изменение представлений</p>
        <li>Создание индексированных представлений;</li>
        <li>создание представлений без использования встроенных инструментов;</li>
        <li>CREATE, ALTER, DROP</li>
    </ol>
    <ol>
        <p>Создание и изменение ограничений</p>
        <li>Создание ограничений в таблицах; </li>
        <li>определение ограничений;</li>
        <li>уникальные ограничения;</li>
        <li>ограничения по умолчанию; </li>
        <li>ограничения закрытого и внешнего ключа</li>
    </ol>
    <ol>
        <p>Создание и изменение триггеров DML</p>
        <li>Вставленные и удаленные таблицы;</li>
        <li>вложенные триггеры; </li>
        <li>типы триггеров;</li>
        <li>функции обновления;</li>
        <li>обработка нескольких строк в сеансе;</li>
        <li>последствия для производительности от триггеров</li>
    </ol>
</div>
<label onclick="ToggleVisibility('sql-data')">Работа с данными</label><br/>
<div class="hidden-element" id="sql-data">
    <ol>
        <p>Запрос данных с помощью инструкций SELECT</p>
        <li>Использование ранжирующей функции для выбора строк top(X) для нескольких категорий в одном запросе; </li>
        <li>написание эффективных, технически сложных запросов SQL;</li>
        <li>использование и понимание разных технологий доступа к данным; </li>
        <li>CASE - отличие от ISNULL и COALESCE</li>
    </ol>
    <ol>
        <p>Реализация подзапросов</p>
        <li>Идентификация проблемных элементов в планах запросов; </li>
        <li>операторы PIVOT и UNPIVOT; </li>
        <li>применение оператора; </li>
        <li>обобщенное табличное выражение (CTE); </li>
        <li>оператор WITH</li>
    </ol>
    <ol>
        <p>Реализация типов данных</p>
        <li>Использование соответствующих данных; </li>
        <li>понимание и использование ограничений для каждого типа данных; </li>
        <li>воздействие GUID (newid, newsequentialid) на производительность базы данных</li>
    </ol>
    <ol>
        <p>Реализация статистических запросов</p>
        <li>Новые аналитические функции;</li>
        <li>группирование наборов;</li>
        <li>пространственные агрегаты;</li>
        <li>применение функций ранжирования</li>
    </ol>
</div>
<label onclick="ToggleVisibility('sql-update')">Изменение данных</label><br/>
<div class="hidden-element" id="sql-update">
    <ol>
        <p>Изменение данных</p>
        <li>Определение вывода набора для DDL при заданном наборе кода с операторами DEFAULT, ограничениями и триггерами; </li>
        <li>какие инструкции SQL лучше подходят для удовлетворения общих требований; </li>
        <li>использование инструкции OUTPUT</li>
    </ol>
    <ol>
        <p>Объединение наборов данных</p>
        <li>Разница между UNION и UNION ALL; </li>
        <li>изменение данных с помощью инструкций MERGE</li>
    </ol>
</div>