@{
    ViewBag.Title = "Upload";
}
<h3>Выберите файл для загрузки</h3>
@using (Html.BeginForm("Alskdjfsa", "File", FormMethod.Post, new {enctype="multipart/form-data"}))
{
    <input type="file" name="FileBase" /><br>
    <input type="text" name="Version"/>
    <input type="submit" value="Загрузить" />
}
